
<!-- <h5 class="center-align">Prepare to Launch</h5> -->

<!-- Modal contents  -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="video-container activator">
            <iframe src="https://demo.theme.co/agency/" width="600" height="600"></iframe>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">ORDER</a>

    </div>
</div>





<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header active">
            <i class="material-icons">done</i>
            <strong>
                Step One
            </strong>
            - Select your Template</div>
        <div class="collapsible-body">
            <div class="row">

                <div class="col s4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="image-container activator"></div>
                            <%= image_tag('agent1.png', :class => "agentsite" ) %>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">The Minimalist<i class="material-icons right">info_outline
</i>
                            </span>

                            <div class="row">
                                <div class="col s6 a1" data-target="modal1">
                                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Click to  Demo" href="#">VIEW LIVE</a>
                                </div>
                                <div class="col s6 right-align">
                                    <a href="#">SELECT</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <h4>The NOIR
                                </h4>
                                <i class="material-icons right">close</i>
                            </span>
                            <p>
                                Hella literally sartorial odio banjo sustainable 90's, dolore ugh mollit cold-pressed duis laboris. Man bun yuccie ethical beard. Whatever selvage messenger bag adipisicing sartorial beard, biodiesel assumenda nostrud echo park. 3 wolf moon ramps raw
                                denim artisan, brooklyn fanny pack freegan letterpress portland bitters.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="image-container activator">
                                <%= image_tag('agent1.png', :class => "agentsite" ) %>

                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                The Professional<i class="material-icons right">more_vert</i>
                            </span>

                            <div class="row">
                                <div class="col s6">
                                    <a href="#">VIEW LIVE</a>
                                </div>
                                <div class="col s6 right-align">
                                    <a href="#">USE TEMPLATE</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <h4>The NOIR
                                </h4>
                                <i class="material-icons right">close</i>
                            </span>
                            <p>
                                Hella literally sartorial odio banjo sustainable 90's, dolore ugh mollit cold-pressed duis laboris. Man bun yuccie ethical beard. Whatever selvage messenger bag adipisicing sartorial beard, biodiesel assumenda nostrud echo park. 3 wolf moon ramps raw
                                denim artisan, brooklyn fanny pack freegan letterpress portland bitters.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <div class="image-container activator">
                                <%= image_tag('agent1.png', :class => "agentsite" ) %>

                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">The Avant-garde<i class="material-icons right">more_vert</i>
                            </span>

                            <div class="row">
                                <div class="col s6">
                                    <a href="#">VIEW LIVE</a>
                                </div>
                                <div class="col s6 right-align">
                                    <a href="#">USE TEMPLATE</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <h4>The NOIR
                                </h4>
                                <i class="material-icons right">close</i>
                            </span>
                            <p>
                                Hella literally sartorial odio banjo sustainable 90's, dolore ugh mollit cold-pressed duis laboris. Man bun yuccie ethical beard. Whatever selvage messenger bag adipisicing sartorial beard, biodiesel assumenda nostrud echo park. 3 wolf moon ramps raw
                                denim artisan, brooklyn fanny pack freegan letterpress portland bitters.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">done</i>
                <strong>
                    Step Two
                </strong>
                - Select Bespoke Color Scheme</div>
      <div id="color-palette" class="collapsible-body">
    <div class="row">
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
        <div class="col s3">
            <img src="https://coolors.co/export/png/4c2e05-7a8450-aebd93-bee7b8-95969d" alt=""/>
        </div>
    </div>

</div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">done</i>
                <strong>
                    Step Three
                </strong>
                - Select a Bespoke Font</div>
            <div class="collapsible-body">
                <table>
                    <tbody>
                        <tr class="f1">
                            <td>
                                <h3>'Lato'</h1>
                            </td>
                            <td>"How vexingly quick daft zebras jump!"
                            </td>
                            <td>
                                <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                        <tr class="f2">
                            <td>
                                <h3>'Source Serif Pro'</h3>
                            </td>
                            <td>"How vexingly quick daft zebras jump!"

                            </td>
                            <td>
                                <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                        <tr class="f3">
                            <td>
                                <h3>'Cormorant Garamond'</h3>
                            </td>
                            <td>"How vexingly quick daft zebras jump!"
                            </td>
                            <td>
                                <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                        <tr class="f4">
                            <td>
                                <h3>'Fira Sans'</h3>
                            </td>
                            <td>"How vexingly quick daft zebras jump!"
                            </td>
                            <td>
                                <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                        <tr class="f5">
                            <td>
                                <h3>'Roboto Mono'</h3>
                            </td>
                            <td>"How vexingly quick daft zebras jump!"
                            </td>
                            <td>
                                <a class="btn-floating btn-large waves-effect waves-light red">
                                    <i class="material-icons">done</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">done</i>
                <strong>
                    Step Four
                </strong>
                - Select a custom URL</div>
            <div class="collapsible-body">
                <!-- <input id="search"> <i class="material-icons">search</i> -->
                <div id="search-bar">

                  <%= form_tag "/result", method: :post do %>
                      <%= label_tag %>
                      <input type="text" id="search" name="search" placeholder="search all domains" autocomplete="off" autofocus autocapitalize="off" autocorrect="off"
  <%= text_field_tag(:search) %>
                  <% end  %>

                </div>
                    <!-- search box input -->
                    <!-- <input type="text" id="search" name="search" placeholder="search all domains" autocomplete="off" autofocus autocapitalize="off" autocorrect="off"> -->

                    <!-- search results div, which will be populated -->
                    <div id="results">
                      <h6> Showing Search Results for: <%= params[:search] %> </h6>
                <%  @answer.each do |res| %>
              <div>  <%=  res  %> </div>
                  <% end %>
                </div>
            </div>
        </li>
    </ul>


<%= link_to 'Build Your Site',  new_user_registration_path %>





 <div id="example">

   <!-- search box input -->

   <!-- search results div, which will be populated -->

 </div>
